h2 Lets install the app

| drag this to your bookmarks bar and click it
| [IMAGE]
/You should start learning from this resource
/
/div
/a href="#{@node.link.url}" target='_blank' = @node.link.title
/div
/a href="#{@node.link.url}" target='_blank' = @node.link.show_url
/
/When you're done, cl
