PathoscopeLoader = (->

  server = '<%= SERVER %>'

  init = ->
    loadjQuery()

  loadjQuery = ->
    load('head', 'script', "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", loadLeanModal)

  loadLeanModal = ->
  ***REMOVED*** setup jQuery
    window.$pathoscope = jQuery.noConflict()
    load('head', 'script', server + '/assets/jquery.leanModal.min', loadNormalize)

  loadNormalize = ->
    showLoading()
    load('head', 'link', server + '/assets/public/normalize.css', loadCSS)

  loadCSS = ->
    load('head', 'link', server + '/assets/public/standalone_app.css', loadApp)

#   loadLodash = ->
#     load('head', 'script', server + "/assets/lodash.min.js", loadHandlebars)
#
#   loadHandlebars = ->
#     window._pathoscope = _.noConflict()
#     load('head', 'script', "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js", loadEmber)
#
#   loadEmber = ->
#     load('head', 'script', server + "/assets/ember.js?body=1", loadEmberData)
#
#   loadEmberData = ->
#     load('head', 'script', "//cdnjs.cloudflare.com/ajax/libs/ember-data.js/1.0.0-beta.6/ember-data.js", loadApp)

  loadApp = ->
    $pathoscope('body').app***REMOVED***(
      "<div id='pathoscope'>" +
        "<a id='pathoscope-trigger' name='pathoscope-app' href='#pathoscope-app'></a>" +
        "<div id='pathoscope-app'>" +
          "<div id='pathoscope-container'></div>" +
        "</div>" +
      "</div>")

    console.log 'Assets loaded. Loading application'
    load('head', 'script', server + '/assets/app/application.js', openApp)

   openApp = ->
     $pathoscope('#pathoscope-trigger').leanModal({ top: 50 })
     $pathoscope('#pathoscope-trigger').click()
     $pathoscope(document).on 'click', '#pathoscope .close', ->
       $pathoscope('#lean_overlay').click()

  showLoading = ->
    $pathoscope('body').app***REMOVED***("<a id='pathoscope-loading-trigger' name='pathoscope-loading' href='#pathoscope-loading'></a>")
    $pathoscope('#pathoscope-loading-trigger').leanModal()
    $pathoscope('#pathoscope-loading-trigger').click()

  load = (place, tag, url, callback) ->
    done = false
    element = document.createElement(tag)

    if tag == 'link'
      element.href = url
      element.rel = "stylesheet"
      element.type = "text/css"
    else
      element.src = url

    element.onload = element.onreadystatechange = ->
      if !done && (!@readyState || @readyState == "loaded" || @readyState == "complete")
        done = true
        callback?()

    document.getElementsByTagName(place)[0].app***REMOVED***Child(element)

  return { init: init }
)()

PathoscopeLoader.init()
