PathoscopeLoader = (->

  server = '<%= SERVER %>'

  init = ->
    loadjQuery()

  loadjQuery = ->
    load('head', 'script', "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", loadLeanModal)

  loadLeanModal = ->
  ***REMOVED*** setup jQuery
    window.$pathoscope = jQuery.noConflict()
    load('head', 'script', server + '/assets/jquery.leanModal.min', loadNormalize)

  loadNormalize = ->
    showLoading()
    load('head', 'link', server + '/assets/public/normalize.css', loadCSS)

  loadCSS = ->
    load('head', 'link', server + '/assets/public/standalone_app.css', loadApp)

  loadApp = ->
    $pathoscope('body').app***REMOVED***(
      "<div id='pathoscope'>" +
        "<a id='pathoscope-trigger' name='pathoscope-app' href='#pathoscope-app'></a>" +
        "<div id='pathoscope-app'>" +
          "<div id='pathoscope-container'></div>" +
        "</div>" +
      "</div>")

    load('head', 'script', server + '/assets/app/application.js', openApp)

   openApp = ->
     $pathoscope('#pathoscope-trigger').leanModal({ top: 30 })
     $pathoscope('#pathoscope-loading').hide()
     $pathoscope('#pathoscope-trigger').click()
     $pathoscope(document).on 'click', '#pathoscope .close', ->
       $pathoscope('#lean_overlay').click()

  showLoading = ->
    $pathoscope('body').app***REMOVED***(
      "<a id='pathoscope-loading-trigger' name='pathoscope-loading' href='#pathoscope-loading'></a>" +
      '<div id="pathoscope-loading">' +
        '<div class="dot-left"></div>' +
        '<div class="dot-right"></div>' +
      '</div>')
    $pathoscope('#pathoscope-loading-trigger').leanModal({ top: 200, overlay: 0.6 })
    $pathoscope('#pathoscope-loading-trigger').click()

  load = (place, tag, url, callback) ->
    done = false
    element = document.createElement(tag)

    if tag == 'link'
      element.href = url
      element.rel = "stylesheet"
      element.type = "text/css"
    else
      element.src = url

    element.onload = element.onreadystatechange = ->
      if !done && (!@readyState || @readyState == "loaded" || @readyState == "complete")
        done = true
        callback?()

    document.getElementsByTagName(place)[0].app***REMOVED***Child(element)

  return { init: init }
)()

PathoscopeLoader.init()
