PathoscopeLoader = (->

  server = '<%= SERVER %>'

  init = ->
    loadjQuery()

  loadjQuery = ->
    load('head', 'script', "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", loadLeanModal)

  loadLeanModal = ->
    # setup jQuery
    window.$ps = jQuery.noConflict()
    load('head', 'script', server + '/assets/jquery.leanModal.min', loadNormalize)

  loadNormalize = ->
    showLoading()
    load('head', 'link', server + '/assets/public/normalize.css', loadCSS)

  loadCSS = ->
    load('head', 'link', server + '/assets/public/standalone_app.css', loadHandlebars)

  loadHandlebars = ->
    load('head', 'script', "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js", loadEmber)

  loadEmber = ->
    load('head', 'script', "//cdnjs.cloudflare.com/ajax/libs/ember.js/1.5.0-beta.4/ember.min.js", loadEmberData)

  loadEmberData = ->
    load('head', 'script', "//cdnjs.cloudflare.com/ajax/libs/ember-data.js/1.0.0-beta.7/ember-data.min.js", loadPathoscopeApp)

  loadPathoscopeApp = ->
    $ps('body').append(
      "<div id='pathoscope'>" +
        "<a id='pathoscope-trigger' name='pathoscope-app' href='#pathoscope-app'></a>" +
        "<div id='pathoscope-app'>" +
          "<div id='pathoscope-container'></div>" +
        "</div>" +
      "</div>")

    load('head', 'script', server + '/assets/app/application.js', openPathoscopeApp)

   openPathoscopeApp = ->
     if window.location.origin == '<%= SERVER %>'
       $ps('#lean_overlay').click ->
         location.reload()
     $ps('#pathoscope-trigger').leanModal({ top: 30 })
     $ps('#pathoscope-loading').hide()
     $ps('#pathoscope-trigger').click()
     $ps(document).on 'click', '#pathoscope .close', ->
       $ps('#lean_overlay').click()

  showLoading = ->
    $ps('body').append(
      "<a id='pathoscope-loading-trigger' name='pathoscope-loading' href='#pathoscope-loading'></a>" +
      '<div id="pathoscope-loading">' +
        '<div class="dot-left"></div>' +
        '<div class="dot-right"></div>' +
      '</div>')
    $ps('#pathoscope-loading-trigger').leanModal({ top: 200, overlay: 0.6 })
    $ps('#pathoscope-loading-trigger').click()

  load = (place, tag, url, callback) ->
    done = false
    element = document.createElement(tag)

    if tag == 'link'
      element.href = url
      element.rel = "stylesheet"
      element.type = "text/css"
    else
      element.src = url

    element.onload = element.onreadystatechange = ->
      if !done && (!@readyState || @readyState == "loaded" || @readyState == "complete")
        done = true
        callback?()

    document.getElementsByTagName(place)[0].appendChild(element)

  return { init: init }
)()

PathoscopeLoader.init()
