@import "settings";
@import "explore";

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

#pathoscope-app, #pathoscope-login, #pathoscope-success, #pathoscope-loader {
  display: none;
}

// loading config
$loader-size: 26px;
$loader-gutter: $loader-size/5;
$loader-transform: $loader-size + $loader-gutter * 2;

#pathoscope-loading {
  position: relative;
  z-index: 999999999 !important;
  margin: 0 !important;
  width: $loader-size * 2;
  height: $loader-size;
  border-radius: $loader-size/2;
  border: $loader-size * .75 solid transparent;
  background: #3d3f3;
  margin: 0 auto;
}
%loader-dot {
  position: absolute;
  top: 0;
  width: $loader-size;
  height: $loader-size;
  border-radius: 100%;
  background: $green;
  @include animation(left 1.2s ease-in-out infinite);
}

.dot-left {
  @ext***REMOVED*** %loader-dot;
  display: inline-block;
}
.dot-right {
  @ext***REMOVED*** %loader-dot;
  @include animation-name(right);
  display: inline-block;
}

@include keyframes(left) {
  0% {
    z-index: 1;
  }
  50% {
    @include transform(translateX($loader-transform));
  }
}
@include keyframes(right) {
  50% {
    @include transform(translateX(-$loader-transform));
  }
}

#pathoscope-app {
  font: normal 16px $open-sans !important;
  color: $dark-grey;
  width: 650px;
  height: 500px;
  padding-bottom: 32px;
  background-color: $snow-white;
  z-index: 999999998 !important;

  header {
    height: 64px;
    background-color: $semiblack;
  }

  .logo {
    float: left;
    display: inline-block;
    height: 56px;
    width: 56px;
    margin-left: 26px;
    margin-top: 4px;

    svg {
      height: 52.8px;
      width: 52.8px;
    }
  }

  .close a {
    float: right;
    font: 12px $open-sans;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 64px;
    margin-right: 32px;
  }

  .content {
    overflow-y: scroll;
    height: 400px; // 500 - 64
    padding: 26px 32px;
  }

  h1 {
    font: 400 24px $open-sans;
    color: $semiblack;
    padding-bottom: 16px;
    text-align: left;
    text-transform: none;
  }

  .choose-path {
    .box {
      @include row();
      display: block;
      background-color: $semiwhite;
      margin: .75em 0;
      border-radius: 16px;
      height: 64px;
    }

    .arrow {
      display: inline-block;
      height: 64px;
      width: 64px;
      vertical-align: top;
      text-align: center;
      line-height: 64px;
    }

    .meta {
      display: inline-block;
      height: 64px;
      vertical-align: top;
      margin: 8px 32px;

      .title {
        font: 600 18px $open-sans;
      }
    }

    .path {
      .arrow a svg {
        display: inline-block;
        height: 2em;
        width: 2em;
        margin-top: 1em;
        margin-left: 1em;
      }

      .meta {
        font-size: 16px;
        margin: 20px 32px;
      }
    }
  }

  .new-path {
    text-align: center;
    color: $semigrey;

    a {
      text-decoration: none;
      color: $semiblack;
    }
  }

  .start-exploring {
    .header-line {
      @include row();
      height: 2em;
      line-height: 2em;
      margin-bottom: 1em;
    }

    .step-number {
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      font: 1.4em $open-sans;
      height: 1.4em;
      width: 1.4em;
      background: $semigrey;
      color: $white;
      border-radius: 100em;
    }

    .title {
      display: inline-block;
      padding-left: 1em;
      font: 1.1em $open-sans;
      height: 1.1em;
      vertical-align: middle;
    }

    .illustration {
      text-align: center;
      img {
        height: 4.5em;
      }
    }
    .go-choose {
      text-align: center;
      a.button {
        display: inline-block;
        text-decoration: none;
        margin-top: 1em;
        background-color: hsla(162, 100%, 40%, 1);
        color: $white;
        border-width: 0px;
        border: none;
        outline: none;
        border-radius: .5em;
        padding: .75em;
        text-transform: uppercase;
      }
    }
  }
}
