h1 Select a path to tag to
article.choose-path
  each user_path in model
    single-item item=user_path.path.item filled=true isExpanded=false notes=false s***REMOVED***ItemChildren='tagAction'

article.new-path
  | Go to
  <a href='<%= SERVER %>' target='_blank'> Pathoscope </a>
  | to choose a different path
