var Pathoscope = (function(){

  var server = '<%= SERVER %>';

  var loadjQuery = function() {
    load('head', 'script', "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", loadLeanModal);
  };

  var loadLeanModal = function() {
    load('head', 'script', server + '/assets/jquery.leanModal.min', loadCSS);
  };

  // var loadjQueryUI = function() {
  //   load('head', 'script', "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", loadjQueryCSS);
  // };

  // var loadjQueryCSS = function() {
  //   load('head', 'link', "//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", loadCSS);
  // };

  var loadCSS = function() {
    load('head', 'link', server + '/assets/public/popup.css', loadTemplates);
  };

  var loadTemplates = function() {
    $.get(server + '/bookmarks/templates').then(function(templates) {
      var html = $(templates).find('main #pathoscope').clone();
      $('body').app***REMOVED***(html);
      init();
    });
  };

  var load = function(place, tag, url, callback) {
    var done = false;
    var element = document.createElement(tag);

    if (tag == 'link') {
      element.href = url;
      element.rel = "stylesheet";
      element.type = "text/css";
    } else {
      element.src = url;
    }

    element.onload = element.onreadystatechange = function(){
      if (!done && (!this.readyState || this.readyState == "loaded" || this.readyState == "complete")) {
        if (tag == 'div') debugger;
        done = true;
        callback();
      }
    };

    document.getElementsByTagName(place)[0].app***REMOVED***Child(element);
  };

  var current_url, dialog, content, main_div;

  var init = function() {
    current_url = window.location.href;

    begin().then(function(resp) {
      show(resp);
    }).fail(function(err) {
      error(err);
    });
  };

  var close = function() {
    $('#lean_overlay').click();
  };

  var begin = function() {
    return $.ajax({
      type: 'GET',
      url: server + '/bookmarks/begin',
      xhrFields: { withCredentials: true },
      data: {
        href: current_url
      }
    });
  };

  var tag = function(path_id) {
    return $.ajax({
      type: 'GET',
      url: server + '/bookmarks/tag',
      xhrFields: { withCredentials: true },
      data: {
        path_id: path_id,
        href: current_url
      }
    });
  };

  var links = function(node_id) {
    return $.ajax({
      type: 'GET',
      url: server + '/bookmarks/links',
      xhrFields: { withCredentials: true },
      data: {
        node_id: node_id
      }
    });
  };

  var show = function(resp) {
    $('#pathoscope-trigger').leanModal();
    $('#pathoscope-trigger').click();

    main_div = $('div#pathoscope').last();
    dialog = main_div.find('#pathoscope-dialog');
    content = dialog.find('.content');
    bindings();

    if (resp.logged_in) {
      selectPath(resp);
    } else {
      loginForm();
    }
  };

  var bindings = function() {
    dialog.find('.close').click(close);
    $(document).on('click', '#pathoscope-select-path li a', clickTagPath);
  };

  var clickTagPath = function() {
    var path_id = $(this).data('id');

    tag(path_id).then(function(resp) {
      tagged(resp.node_id);
    });
  };

  var tagged = function(node_id) {
    links(node_id).then(function(resp) {
      var html = main_div.find('#pathoscope-tagged');
      app***REMOVED***Link(html, resp.link);
      app***REMOVED***Tag(html, resp.tag);
      app***REMOVED***Links(html, resp.links)
      content.html(html);
    });
  };

  var app***REMOVED***Link = function(html, link) {
    html.find('.link .title').html(link.title);
    html.find('.link .url').html(link.show_url);
  };

  var app***REMOVED***Tag = function(html, tag) {
    html.find('.tag a').html(tag.title);
    html.find('.tag a').addClass('background-' + tag.color);
  };

  var app***REMOVED***Links = function(html, links) {
    var list = $('<ul></ul>');

    $.each(links, function(index, link) {
      var item = $("<li>" +
        "<div class='thumbnail'></div>" +
        "<div class='meta'>" +
          "<section class='title'>" +
            "<a href='" + link.url + "'>" +
              link.title +
            "</a>" +
          "</section>" +
          "<section class='url'>" +
            "<a href='" + link.url + "'>" +
              link.show_url +
            "</a>" +
          "</section>" +
        "</div>" +
      "</li>");

      item.find('.thumbnail').css('background', "url('" + link.thumbnail_path + "') center no-repeat");
      item.find('.thumbnail').css('background-size', 'contain');
      list.app***REMOVED***(item);
    });

    html.find('.links').html(list);
  };

  var selectPath = function(resp) {
    var html = main_div.find('#pathoscope-select-path');
    app***REMOVED***Paths(html, resp.paths);
    content.html(html);
  };

  var app***REMOVED***Paths = function(html, paths_json) {
    var paths = JSON.parse(paths_json);
    var list = $('<ul></ul>');

    $.each(paths, function(index, path) {
      list.app***REMOVED***("<li>" +
        "<a href='#' data-id='" + path.id + "' class='background-" + path.color + "'>" +
          path.title +
        "</a>" +
      "</li>");
    });

    list.app***REMOVED***("<li>" +
      "<a href='#' data-id='0' class='background-all new'>" +
        "Choose new path..." +
      "</a>" +
    "</li>");

    html.find('.paths').html(list)
  };

  var loginForm = function() {
    var html = $('div#pathoscope-login').last().clone();
    html.show();
    $('#pathoscope-dialog').html(html);
    html.find('.login-button').click(login);
  };

  var login = function() {
    var email = $('#pathoscope-login .email').last().val();
    var password = $('#pathoscope-login .password').last().val();

    var data = {
      remote: true,
      commit: "Sign in",
      utf8: "✓",
      user: {
        remember_me: 1,
        password: password,
        email: email
      }
    };

    return $.ajax({
      type: 'POST',
      url: server + '/users/sign_in.json',
      xhrFields: { withCredentials: true },
      data: data,
      success: function(resp) {
        init();
      },
      error: function(e) {
        alert('Auth failed');
      }
    });
  };

  var error = function(err) {
    console.log('Error', err);
  };

  return {
    loadjQuery: loadjQuery
  };
})();

Pathoscope.loadjQuery();
