/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, v***REMOVED***or/assets/stylesheets,
 * or v***REMOVED***or/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_self
 dont *= require_tree .
 */

// Change the grid settings
// $visual-grid: true;
/* $column: 90px; */
/* $gutter: 30px; */
$grid-columns: 16;

@import "bourbon";
@import "neat";
@import "neat-helpers";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$max-width: em(768);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);

$black: hsla(223, 19%, 19%, 1);
$white: #FFF;
$red: #E95353;
$grey: #F2F0EB;
$main-color: hsla(0, 62.34%, 69.80%, 1);
$dark-grey: #B3B3B3;
$light-grey: hsla(180, 5.52%, 68.04%, 1);
$montserrat: 'Montserrat', sans-serif;

body {
  font: normal 100% $helvetica;
  color: $black;
  overflow-x: hidden;
}

.ext***REMOVED***full, .ext***REMOVED***left {
  padding-left: 3000px;
  margin-left: -3000px;
}

.ext***REMOVED***full, .ext***REMOVED***right {
  padding-right: 3000px;
  margin-right: -3000px;
}

#page-wrapper {
  @include outer-container;
}

header {
  background-color: $red;
  padding: 2.5em 0 1em;
  color: $white;

  a {
    color: $white;
    text-decoration: none;
  }

  nav {
    @include row();
    height: 3em;
    ul {
      float: right;
      display: inline-block;
      margin: 0 2em;
      list-style-type: none;

      li {
        @include inline-block;
        margin-right: golden-ratio(1em, 1);
      }

      .nodes {
        background: url('flickr.png') left no-repeat;
        background-size: contain;
        padding-left: 1.5em;
        font: bold 0.8em $helvetica;
      }

      .paths {
        background: url('prototype.png') left no-repeat;
        background-size: contain;
        padding-left: 1.5em;
        font: bold 0.8em $helvetica;
      }

      a {
        text-transform: uppercase;
        font: bold 0.8em $helvetica;
        &:hover {
          border-bottom: 0.175em solid $white;
        }
      }
    }

    a.small-logo-text {
      float: left;
      display: inline-block;
      font: bold 1em $helvetica;
    }

    a.small-app {
      float: left;
      display: inline-block;
      margin-top: -2em;
      margin-right: 1em;
      height: 5em;
      width: 5em;
      background: url('prototype.png') center no-repeat;
      background-size: contain;
      color: $red;
    }
  }

  .splash {
    .app {
      display: block;
      height: 17em;
      background: url('prototype.png') center no-repeat;
      background-size: contain;
      color: $red;
      /* font-size: 0.0001em; */
    }

    .logo-text {
      display: block;
      font: bold 2em $helvetica;
      text-align: center;
      padding: 0 0 1em;
    }

    aside {
      // TODO
      display: none;
    }
  }
}

.errors .notice, .errors .error, .errors .alert {
  margin: 2em auto 1em;
  text-align: center;
  padding: 1em;
  width: 20em;
  border-radius: 0.8em;
}

.notice {
  background: #dff0d8;
  color: #3c763d;
}

.error {
  background: #f2dede;
  color: #a94442;
}

.alert {
  background: #faebcc;
  color: #8a6d3b;
}


main {
  padding-top: 1em;
  nav {
    height: 5em;
  }

  nav.searchbox {
    text-align: center;
    line-height: 5em;

    input {
      height: 2.5em;
      width: 15em;
    }

    button {
      height: 2.5em;
      width: 5em;
      margin-left: 1em;
    }

  }

  nav.breadcrumbs {
    li {
      @include inline-block;
      margin-right: golden-ratio(1em, 1);
    }

    a:before {
      content: '< ';
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $black;
      font: bold 0.8em $helvetica;
      line-height: 5em;
      &:hover {
        border-bottom: 0.175em solid $black;
      }
    }
  }

  article {
    display: block;
  }

  article.explore {
    padding-top: 3em;

    /* section { */
    /*   width: 35em; */
    /*   margin: 0 auto; */
    /* } */

    section.current {
      .meta {
        vertical-align: top;
        height: 6em;
        display: inline-block;
        width: 29em;
        padding-left: 2em;

        a {
          text-decoration: none;
        }

        .title {
          font: bold 1.2em $helvetica;
        }

        .description {
          padding-top: 0.5em;
          font: 1em $helvetica;
        }

        .url {
          display: block;
          color: $black;
        }

        .comments {
          display: block;
          color: $red;
        }
      }
    }

    section.deeper {
      .circles {
        display: block;
        height: 6em;
        background: url('flickr.png') center no-repeat;
        background-size: 4em 4em;
      }

      padding-top: 2em;

      li {
        @include row();
        padding-bottom: 4em;
        list-style-type: none;
        height: 5em;
        width: 100%;
        margin: 2em;
        background-color: $grey;
      }

      .box {
        display: inline-block;
        width: 5em;
        height: 5em;
        float: left;
        background: url('rocket.png') center no-repeat;
        background-size: 3em 3em;
        -webkit-filter: invert(100%);
      }

      .meta {
        display: inline-block;
        height: 5em;
        float: left;
        padding: 1.5em 0 0 2em;
      }

      .nodes {
        display: inline-block;
        height: 5em;
        float: right;
        padding: 2em;
        background: url('flickr.png') left no-repeat;
        background-size: 2em 2em;
        padding-left: 2.5em;
      }

      .title {
        font: bold 0.9em $helvetica;
        text-decoration: none;
      }

      .url {
        font: 0.8em $helvetica;
      }

      /* h1 { */
      /*   text-align: center; */
      /*   font: bold 2em $helvetica; */
      /*   padding-bottom: 1em; */
      /* } */

      /* .meta { */
      /*   vertical-align: top; */
      /*   height: 6em; */
      /*   display: inline-block; */
      /*   width: 20em; */
      /*   padding-left: 2em; */

      /*   a { */
      /*     text-decoration: none; */
      /*   } */

      /*   .title { */
      /*     font: bold 1.2em $helvetica; */
      /*   } */

      /*   .description { */
      /*     padding-top: 0.5em; */
      /*     font: 1em $helvetica; */
      /*   } */

      /*   .url { */
      /*     display: block; */
      /*     color: $black; */
      /*   } */

      /*   .comments { */
      /*     display: block; */
      /*     color: $red; */
      /*   } */
      /* } */

      .deeper {
        vertical-align: top;
        display: inline-block;
        padding-left: 1.5em;
        padding-top: 2em;

        a {
          font: bold 1.5em $helvetica;
          text-decoration: none;
          color: $black;
        }
      }
    }

    /* .box { */
    /*   display: inline-block; */
    /*   height: 6em; */
    /*   width: 6em; */
    /*   background-color: $dark-grey; */
    /* } */
  }

  article.paths {
    padding-top: 2em;
    li {
      /* @include row(); */
      height: 5em;
      width: 100%;
      margin: .5em;
      float: left;
      position: relative;
      border-radius: 1em;

      .icon {
        display: inline-block;
        width: 5em;
        height: 5em;
        float: left;
        background: url('rocket.png') center no-repeat;
        background-size: 3em 3em;
        -webkit-filter: invert(100%);
      }

      .title {
        display: inline-block;
        height: 5em;
        float: left;
        padding-left: 1em;
      }

      .nodes {
        display: inline-block;
        height: 5em;
        float: right;
        padding: 2em;
        color: $white;
        background: url('flickr.png') left no-repeat;
        background-size: 2em 2em;
        padding-left: 2.5em;
      }

      .triangle {
        width: 0;
        height: 0;
        border-top: 2.5em solid $white;
        border-bottom: 2.5em solid $white;

        /* border-left: 60px solid green; */
        float: right;
      }

      a {
        font: bold 1.1em $helvetica;
        line-height: 5em;
        text-decoration: none;
        color: $white;
      }
    }

    /* li:after { */
    /*   content: ''; */
    /*   display: block; */
    /*   width: 10px; */
    /*   position: absolute; */
    /*   right: -10px; */
    /*   height: 100%; */
    /*   top: 0; */
    /*   background: transparent url('data:image/svg+xml; charset=utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" preserveAspectRatio="none"><path d="m0,0 l10,10 l-10,10 l-0,-20z" stroke-width="1.5" fill="#000"/></svg>') 0 0 no-repeat; */
    /* } */
  }
}

footer {
  height: 5em;
}

.user {
  text-align: center;
  /* margin: 0 auto; */
  /* width: 10em; */

  h2 {
    text-align: center;
    padding-bottom: 1em;
  }

  div {
    padding: 1em;
  }

  input {
    margin-top: 0.5em;
    padding: 0.5em;
  }

  a {
    color: $black;
  }

}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
