/*
 *= require hint
*/

$transitional-green: hsla(105, 18%, 60%, 1);
$transparent-red: hsla(0, 77%, 62%, 0.7);
$sky-blue: hsla(192, 50%, 75%, 1);

.flash, #pathoscope-app .flash {
  display: block;
  color: $white;
  background-color: $sky-blue;
  text-align: center;
  padding: .75em;
  margin: 1em auto;
  width: 18em;
  border-radius: .15em;
}

.session, #pathoscope-app .session, .profile {
  text-align: center;

  h1 {
    text-align: left;
  }

  form {
    padding-top: .5em;
  }

  .email, .username, .password, .confirm-password {
    input {
      display: inline-block;
      background-color: hsla(0, 0%, 92%, 1);
      @include placeholder {
        color: hsla(223, 19%, 19%, 0.5);
        font-style: normal;
      }
      color: $semiblack;
      width: 20em;
      height: 4em;
      border-width: 0px;
      border: none;
      outline: none;
      border-radius: .5em;
      padding: .5em;
      margin: 1em;
      text-align: center;
    }
  }

  .remember {
    label {
      color: $semigrey;
      display: inline-block;
      padding: 1em;
    }

    input {
      display: inline-block;
      background-color: hsla(0, 0%, 92%, 1);
      color: hsla(162, 100%, 40%, 1);
      border-width: 0px;
      border: none;
      outline: none;
      border-radius: .5em;
      padding: .75em;
      vertical-align: middle;
    }
  }

  button {
    display: inline-block;
    margin-top: 1em;
    background-color: hsla(162, 100%, 40%, 1);
    color: $white;
    border-width: 0px;
    border: none;
    outline: none;
    border-radius: .5em;
    padding: .75em;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.world, .map, #pathoscope-app {
  .done {
    padding-top: 2em;
  }

  .box {
    @include row();
    display: block;
    background-color: $semiwhite;
    margin: .75em 0;
    border-radius: 1em;
    height: 4em;
  }

  .arrow {
    display: inline-block;
    height: 4em;
    width: 4em;
    vertical-align: top;
    text-align: center;
    line-height: 4em;
  }

  .link {
    .arrow svg {
      display: inline-block;
      height: 3em;
      width: 3em;
      margin: .5em 1em;
      fill: $semigrey;
    }
  }
  .path {
    .arrow svg {
      display: inline-block;
      height: 2em;
      width: 2em;
      margin-top: 1em;
    }
    .meta {
      font-size: 1.2em;
      margin: 0.95em 2em;
    }
  }

  .go-up {
    .arrow {
      svg {
        display: block;
        height: 2em;
        width: 2em;
        margin: .5em 0 0 1em;
        padding: 0;
        fill: $semigrey;
      }

      a {
        display: block;
        text-decoration: none;
        color: $semigrey;
      }

      a .back {
        display: block;
        font-size: .5em $open-sans;
        height: 1em;
        padding: 0;
        margin-top: -1.5em;
        color: $semigrey;
      }
    }
    .meta {
      font-size: 1.2em;
      margin: 0.95em 2em;

      .title a {
        color: $semigrey;
      }
    }
  }

  .arrow {
    .dead-end svg {
      display: inline-block;
      height: 1em;
      width: 1em;
      margin: 1.5em 1.95em;
      fill: $semigrey;
    }
  }

  .indicator {
    display: inline-block;
    height: 4em;
    width: .5em;
    background-color: $semiwhitegrey;
  }

  .meta {
    display: inline-block;
    height: 4em;
    vertical-align: top;
    margin: 0.5em 2em;

    .title {
      font: 600 1.1em $open-sans;
      width: 17em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        color: $semiblack;
        text-decoration: none;
      }
    }
    @include media(min-width 480px max-width 768px) {
      .title {
        width: 15em;
        font: 600 .9em $open-sans;
      }
    }
    @include media(min-width 0 max-width 480px) {
      .title {
        width: 7em;
        font: 600 .85em $open-sans;
      }
    }

    .url {
      font: 400 .9em $open-sans;

      a {
        color: $semiblack;
        text-decoration: none;
      }
    }

    .bottom {
      @include row();
    }
    @include media(min-width 0 max-width 480px) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 6em;
    }

    .paths {
      .path-tag {
        display: inline-block;

        svg {
          display: inline-block;
          height: 3em;
          width: 3em;
          margin: -2em -1.2em -1.25em -0em;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  @include media(min-width 0 max-width 480px) {
    .link .meta {
      margin: 0.5em 0;
    }
    .path .meta {
      margin: 1.1em 0;
    }
  }

  .notes-indicator {
    float: right;
    display: inline-block;
    height: 4em;
    width: 4em;

    a svg {
      display: inline-block;
      height: 2.4em;
      width: 100%;
      margin-top: 1em;
      padding-right: 1em;
      fill: hsla(153, 39%, 50%, 1);
    }

    a.closed svg {
      fill: $green;
    }
  }

  .notes {
    @include row();
    display: block;
    background-color: hsla(0, 0%, 97%, 1);
    margin: .75em 0;
    padding: 1em 2.5em;
    border-radius: 1em;
    min-height: 10em;

    .note {
      margin-bottom: 2em;
    }

    .info {
      @include row();
      padding-bottom: .75em;
      background-color: hsla(0, 0%, 97%, 1);
      height: 100%;
    }

    .name {
      float: left;
      color: hsla(204, 16%, 24%, 1);
      font-weight: 600;
    }

    .time {
      float: right;
      color: hsla(216, 4%, 72%, 1);
      font: 0.8em $open-sans;
    }

    .new-note {
      padding-top: 2em;

      .note-content {
        background-color: hsla(0, 0%, 92%, 1);
        color: hsla(216, 4%, 72%, 1);
        width: 100%;
        max-width: 100%;
        height: 5em;
        border-width: 0px;
        border: none;
        outline: none;
        border-radius: .5em;
        padding: .5em;
      }

      .post-note {
        margin-top: 1em;
        background-color: hsla(162, 100%, 40%, 1);
        color: $white;
        border-width: 0px;
        border: none;
        outline: none;
        border-radius: .5em;
        padding: .75em;
        text-transform: uppercase;
      }
    }
    .sign-in-note {
      text-align: center;
      padding: 1.3em 0;
      color: $semigrey;
    }
    .empty-notes {
      text-align: center;
      padding: 1.3em 0;

      h3 {
        font: 600 1.1em $open-sans;
        padding-bottom: .3em;
        text-transform: none;
      }
    }
  }

  .padded {
    margin-left: 2em;
  }
  .padded + .padded {
    margin-left: 4em;
  }

  .level-0 {
    .indicator {
      background-color: $semiwhitegrey;
    }
  }

  .level-1 {
    margin-left: 2em;

    .indicator {
      background-color: $semiwhitegrey;
    }
  }

  .level-2 {
    margin-left: 4em;

    .indicator {
      background-color: $lightgreen;
    }
  }

  .level-3 {
    margin-left: 6em;

    .indicator {
      background-color: $lightgreen;
    }
  }

  .level-4 {
    margin-left: 8em;

    .indicator {
      background-color: $lightgreen;
    }
  }

  .level-5 {
    margin-left: 10em;

    .indicator {
      background-color: $lightgreen;
    }
  }

  .level-6 {
    margin-left: 12em;

    .indicator {
      background-color: $lightgreen;
    }
  }

  .center .indicator {
    background-color: $green;
  }
}
