/*
 *= require normalize
 *= require_self
*/

@import "settings";

$green: hsla(118, 22%, 54%, 1);
$transitional-green: hsla(105, 18%, 60%, 1);
$transparent-red: hsla(0, 77%, 62%, 0.7);
$sky-blue: hsla(192, 50%, 75%, 1);
$transparent-white: hsla(0, 0%, 100%, 0.1);

body {
  background-color: $green;
  overflow-x: hidden;
}

// scene properties
img {
  position: relative;
  width: 100%;
}

.cloud {
  opacity: 0.8;
}

.notice {
  background-color: $sky-blue;
}

.alert {
  background-color: $transparent-red;
}

// button sections
.login {
  display: none;
  padding: 0 1em;
  color: $white;
  border: 1px solid $white;
  border-radius: .2em;
  text-decoration: none;
  text-transform: uppercase;
  font: .9em $open-sans;
  font-weight: 300;
  height: 3em;
  line-height: 3em;

  &:hover {
    background-color: $transparent-white;
  }
}

nav .login {
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 50px;
}

.or {
  text-decoration: none;
  text-transform: uppercase;
  font: 1em $open-sans;
  font-weight: 300;
  padding: 1em;
  display: none;
}

@include media(min-width 0 max-width 480px) {
  nav {
    display: none;
  }

  .invite {
    .or {
      display: inline-block;
    }

    .login {
      display: inline-block;
      font: 1em $open-sans;
      font-weight: 300;
      height: 3.3em;
      line-height: 3.3em;
    }
  }
}

// Main parts of the page
.content {
  position: absolute;
  top: 160px;
  text-align: center;
  color: $white;
  width: 100%;
}

header {
  h1 {
    font: 5.75em $logo-font;
  }

  h2 {
    margin-top: -0.6em;
    font: 2.65em $logo-font;
  }
}

@include media(min-width 0 max-width 480px) {
  header {
    h1 {
      font: 3.75em $logo-font;
    }

    h2 {
      font: 1.75em $logo-font;
    }
  }
}

.invite {
  font: 1em $open-sans;
  font-weight: 300;
  padding: 4em 0;
  position: absolute;
  top: 160px;
  left: 50%;
  width: 450px;
  margin-left: -225px;

  .email {
    display: inline-block;
    font: inherit;
    width: 17.5em;
    color: $less-black;
    padding: 1em;
  }

  // invite notices and alerts
  p {
    padding: .75em;
    margin: 1em auto 3em;
    width: 18em;
    border-radius: .15em;
  }
}

select, input, button {
  border-width: 0px;
  border: none;
  outline: none;
}

// button shared with extra-invite section
.get-invite {
  font: 1em $open-sans;
  font-weight: 300;
  display: inline-block;
  background-color: $red;
  border: none;
  outline: none;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;

  &:hover {
    background-color: $dark-red;
  }
}

@include media(min-width 0 max-width 480px) {
  .invite {
    padding: 0;
    width: 300px;
    margin-left: -150px;
    top: 140px;

    .email {
      margin: 0;
    }
  }

  .get-invite {
    margin-top: 1em;
  }
}

.extra-invite {
  padding-top: 2em;

  .email {
    font: 1em $open-sans;
    font-weight: 300;
    display: inline-block;
    color: $less-black;
    outline: none;
    border: 1px solid $launching-grey;
    padding: 1em;
    margin-right: 1em;

    @include media(min-width 0 max-width 480px) {
      display: block;
      margin: 1em auto;
    }
  }
}

.reasoning {
  position: absolute;
  top: 350px;
  background-color: $white;
  width: 100%;
  color: $less-black;
  padding-top: 2.5em;
  padding-bottom: 3em;
  border-top: 1px solid $transitional-green;

  h2 {
    font: 2.6em $open-sans;
    font-weight: 600;
  }

  h4 {
    font: 1.6em $open-sans;
    color: $transparent-red;
    font-weight: 600;
  }

  .emphasis {
    font-weight: 700;
  }

  .step {
    @include row();
    padding-top: 3em;
    width: 768px;
    margin: 0 auto;

    .illustration {
      height: 15em;
      width: 15em;
      vertical-align: top;

    }

    .explanation {
      vertical-align: top;
      margin: 0 3em;
      padding-top: 2em;
      width: 55%;


      h3 {
        font: 1.9em $open-sans;
        text-transform: lowercase;
        padding-bottom: 1em;

      }
      p {
        font: 1em $open-sans;
      }
    }
  }

}

.left {
  float: left;
}

.right {
  float: right;
}

.step1 {
  background: url('launching/step1.png') center no-repeat;
  background-size: contain;
}

.step2 {
  background: url('launching/step2.png') center no-repeat;
  background-size: contain;
}

.step3 {
  background: url('launching/step3.png') center no-repeat;
  background-size: contain;
}

.twitter {
  margin-top: 3em;

  a {
    display: block;
    width: 3.5em;
    height: 3.5em;
    background: url('launching/twitter.png') center no-repeat;
    background-size: contain;
    margin: 0 auto;

    &:hover {
      background: url('launching/twitter_hover.png') center no-repeat;
      background-size: contain;
    }
  }
}
.credits {
  font: 0.8em $open-sans;
  padding-top: 3em;
  color: $light-grey;

  a {
    color: $dark-grey;
    text-decoration: none;
  }
}

@include media(min-width 0 max-width 768px) {
  .reasoning {
    h2 {
      font: 2em $open-sans;
      font-weight: 600;
    }

    h4 {
      font: 1.2em $open-sans;
      font-weight: 600;
    }

    .left, .right {
      display: block;
      float: none;
    }

    .step {
      width: 100%;
      padding-top: 1em;

      .explanation {
        padding-top: 0;
        margin: 0 auto;
        width: 90%;

        h3 {
          font: 1.4em $open-sans;
        }
      }

      .illustration {
        height: 10em;
        width: 10em;
        margin: 0 auto;
      }
    }

    .credits {
      padding-top: 4em;
    }
  }
}
